[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MRTAnalysis"]
	path = MRTAnalysis
	url = https://github.com/cran/MRTAnalysis
[submodule "MRTSampleSizeBinary"]
	path = MRTSampleSizeBinary
	url = https://github.com/tqian/mrtsamplesizebinary
